/* Add your own styles */
body {
    display: grid;
    row-gap: 15px;
    grid-template-rows: 155px auto;
    background-color: rgb(185, 176, 176);
}

header {
    grid-row-start: 1;
    display: flex;
    background-color: rgb(16, 16, 44);
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

main {
    grid-row-start: 2;
    display: grid;
    grid-template-rows: auto auto;
}

#controls {
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#country {
    height: 25px;
    width: 500px;
    margin: 5px;
}

#lookup {
    height: 25px;
    width: 75px;
    background-color: rgb(4, 20, 110);
    border-color: rgb(4, 20, 110);
    border-radius: 5px;
    color: white;
    margin: 5px;
}

#result {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

